html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../img/campus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered-div {
	margin: 0 auto;
	vertical-align: middle;
}
.login-position {
	margin-top: 12px;
}

.rounded-corners {
	border: 0px solid;
	border-radius: 10px;
}

#divInfo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 720px;
	padding-left: 10px;
	padding-right: 10px;
}

#infoContainer {
	filter: alpha(opacity=0);
	opacity: 0;
}

#info-title {
	font-size: 24px;
}