html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../img/campus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-position {
	margin-top: 12px;
}

#info-title {
	font-size: 24px;
}

#divInfo {
	display: none;
}