html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {

    background-image: url("../img/campus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}