.big-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.center-item {
    float: none;
	margin-left: auto;
	margin-right: auto;
}

.fixed-bottom {
	bottom: 0px;
	position: fixed;
	width: 100%;
}

.inline-heading {
	display: inline-block;
}

.margin-right {
	margin-right: 5px;
}

.no-left-padding {
	padding-left: 0;
	padding-right: 11px;
}

.no-right-padding {
	padding-left: 11px;
	padding-right: 0;
}

.restricted-width {
	max-width: 400px;
}

.soften-text {
	color: rgb(52, 73, 94);
}

.square-btn {
	height: 36px;
	margin-right: 5px;
	width: 36px;
}

.thin-button {
	width: 64px;
}

.translucent {
	background: rgba(255,255,255,0.5);
}

p {
	font-size: 13px;
}