.big-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.center-item {
    float: none;
	margin-left: auto;
	margin-right: auto;
}

.fixed-bottom {
	bottom: 0px;
	position: fixed;
	width: 100%;
}

.login-position {
	margin-top: 12px;
}

.red-back {
	background-color: red;
}

.restricted-width {
	max-width: 400px;
}

.soften-text {
	color: rgb(52, 73, 94);
}

.thin-button {
	width: 104px;
}

.translucent {
	background: rgba(255,255,255,0.5);
}

p {
	font-size: 14px;
}