/* Header footer styles */
body {
	width: 100%;
}

.alignRight {
	text-align: right;
}

.hoverHand:hover {
	cursor: pointer;
}

.kentBlueBackground {
	background-color: #013984;
}

.marginLeft10 {
	margin-left: 10px;
}

.smallerMobileHeading {
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.whiteText {
	color: #FEFEFF;
}

.whiteText:hover {
	color: #FEFEFF;
}

#pageContent {
	padding: 0 10px;
}

/* When on landscape on mobile */
@media (orientation: landscape) and (max-device-width: 568px) {
	.smallerMobileHeading {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

/* End of Header footer styles */

/* Other stuff */

.bigMargin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.centerInRow {
	float: none;
}

.centerItem {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inline {
    display: inline;
}

.fixedBottom {
	bottom: 0px;
	position: fixed;
	width: 100%;
}

.inlineHeading {
	display: inline-block;
}

.loginPosition {
	margin-top: 12px;
}

.marginRight {
	margin-right: 10px;
}

.noLeftPadding {
	padding-left: 0;
	padding-right: 10px;
}

.noRightPadding {
	padding-left: 10px;
	padding-right: 0;
}

.noBottomMargin {
	margin-bottom: 0;
}

.restrictedWidth {
	max-width: 400px;
}

.softenText {
	color: rgb(52, 73, 94);
}

.thinButton {
	width: 64px;
}

.translucent {
	background: rgba(255, 255, 255, .8);
}

.sideScroller {
	overflow-x: scroll;
	overflow-y: hidden;
}

.Meters {
	padding: 0 0 0 0;
}

.gauge {
	display: inline-block;
}

/* .sideScrollerTitle {
	margin-top: 5px;
	margin-bottom: 5px;
} */

.sideScrollerItem {
	vertical-align: top;
}

.list-inline {
	white-space: nowrap;
}

.scrollerTile {
	height: 200px;
	width: 200px;
	margin: 5px;
}

.scrollerPlaceholder {
	text-align: center;
	height: 200px;
	margin: 5px;
}

.scrollerTile .tile-title {
	white-space: pre-wrap; /* CSS3 */
}

.panelHeadingButton {
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	display: none;
}

.panelHeadingTextBox {
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
}

.login-form {
	position: relative;
	padding: 24px 23px 20px;
	background-color: #edeff1;
	border-radius: 6px
}

.login-form .control-group {
	position: relative;
	margin-bottom: 6px
}

.login-form .login-field {
	font-size: 17px;
	text-indent: 3px;
	border-color: transparent
}

.login-form .login-field:focus {
	border-color: #1abc9c
}

.login-form .login-field:focus + .login-field-icon {
	color: #1abc9c
}

.login-form .login-field-icon {
	position: absolute;
	top: 3px;
	right: 15px;
	font-size: 16px;
	color: #bfc9ca;
	-webkit-transition: all .25s;
	transition: all .25s
}

.login-link {
	display: block;
	margin-top: 15px;
	font-size: 13px;
	color: #bfc9ca;
	text-align: center
}

.Header {
	margin-top: 15px;
	margin-bottom: 15px;
}

.Heading {
	margin-top: 15px;
	margin-bottom: 15px;
}

.dashboardSelector {
	width: 100%;
}

#changeOptions {
	display: none;
}

.editBioButton {
	display: none;
}

p {
    font-size: 13px;
}

#editor {
	margin: 0;
	height: 100%;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #333;
}

#editor div {
	display: inline-block;
	width: 49%;
	height: 100%;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}

.panel-body img {
	max-width: 100%;
}

#userPicture {
	border: none;
}

#userPicture > .panel-body {
	height: 100%;
	width: 100%;
	padding: 0;
}

#userPicture > .panel-body > img {
	max-width: 100%;
	height: auto;
	border-radius: 6px;
}

textarea {
	border: none;
	border-right: 1px solid #ccc;
	resize: none;
	outline: none;
	background-color: #f6f6f6;
	font-size: 14px;
	font-family: 'Monaco', courier, monospace;
	padding: 20px;
}

code {
	color: #f66;
}

/* Mobile */
@media (max-device-width: 568px) and (orientation: portrait) {
    .mobileHide {
        display: none;
    }
}