/* Header footer styles */
body {
	width: 100%;
}

.alignRight {
	text-align: right;
}

.hoverHand:hover {
	cursor: pointer;
}

.kentBlueBackground {
	background-color: #013984;
}

.marginLeft10 {
	margin-left: 10px;
}

.smallerMobileHeading {
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.whiteText {
	color: #FEFEFF;
}

.whiteText:hover {
	color: #FEFEFF;
}

#pageContent {
	padding: 0 10px;
}

/* When on landscape on mobile */
@media (orientation: landscape) and (max-device-width: 568px) {
	.smallerMobileHeading {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

/* End of Header footer styles */

/* Other stuff */

.bigMargin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.centerInRow {
	float: none;
}

.centerItem {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inline {
    display: inline;
}

.fixedBottom {
	bottom: 0px;
	position: fixed;
	width: 100%;
}

.inlineHeading {
	display: inline-block;
}

.loginPosition {
	margin-top: 12px;
}

.marginRight {
	margin-right: 10px;
}

.noLeftPadding {
	padding-left: 0;
	padding-right: 10px;
}

.noRightPadding {
	padding-left: 10px;
	padding-right: 0;
}

.noBottomMargin {
	margin-bottom: 0;
}

.restrictedWidth {
	max-width: 400px;
}

.softenText {
	color: rgb(52, 73, 94);
}

.thinButton {
	width: 64px;
}

.translucent {
	background: rgba(255, 255, 255, .8);
}

/* Scroller Styling */

/* Frame */
.frame {
	height: 250px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 20px;
}
.frame ul li {
	float: left;
	width: 200px;
	height: 100%;
	margin: 0 15px 0 0;
	padding: 10px;
	background: #eff0f2;
	color: #333;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
}
/* Pages */
.pages {
	list-style: none;
	margin: 5px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

.controls { margin: 0; text-align: center; }

/* --------------- */

.Meters {
	padding: 0 0 0 0;
}

.gauge {
	display: inline-block;
}

.panelHeadingButton {
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	display: none;
}

.panelHeadingTextBox {
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
}

.login-form {
	position: relative;
	padding: 24px 23px 20px;
	background-color: #edeff1;
	border-radius: 6px
}

.login-form .control-group {
	position: relative;
	margin-bottom: 6px
}

.login-form .login-field {
	font-size: 17px;
	text-indent: 3px;
	border-color: transparent
}

.login-form .login-field:focus {
	border-color: #1abc9c
}

.login-form .login-field:focus + .login-field-icon {
	color: #1abc9c
}

.login-form .login-field-icon {
	position: absolute;
	top: 3px;
	right: 15px;
	font-size: 16px;
	color: #bfc9ca;
	-webkit-transition: all .25s;
	transition: all .25s
}

.login-link {
	display: block;
	margin-top: 15px;
	font-size: 13px;
	color: #bfc9ca;
	text-align: center
}

.Header {
	margin-top: 15px;
	margin-bottom: 15px;
}

.Heading {
	margin-top: 15px;
	margin-bottom: 15px;
}

.dashboardSelector {
	width: 100%;
}

#changeOptions {
	display: none;
}

.editBioButton {
	display: none;
}

p {
    font-size: 13px;
}

#editor {
	margin: 0;
	height: 100%;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #333;
}

#editor div {
	display: inline-block;
	width: 49%;
	height: 100%;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}

.panel-body img {
	max-width: 100%;
}

#userPicture {
	border: none;
}

#userPicture > .panel-body {
	height: 100%;
	width: 100%;
	padding: 0;
}

#userPicture > .panel-body > img {
	max-width: 100%;
	height: auto;
	border-radius: 6px;
}

#interestsInput {
	display: none;
}

div.tokenfield.readonly {
	border-color: transparent;
}

div.tokenfield.readonly span.token-label {
	padding-right: 4px;
}

div.tokenfield.readonly a.close {
	display: none;
}

textarea {
	border: none;
	border-right: 1px solid #ccc;
	resize: none;
	outline: none;
	background-color: #f6f6f6;
	font-size: 14px;
	font-family: 'Monaco', courier, monospace;
	padding: 20px;
}

code {
	color: #f66;
}

.banner {
	background-color: #0ff !important;
	color: #fff !important;
	display: block !important;
	margin-left: -12px;
	width: 204px !important;


  -moz-box-shadow: 0 5px 0 #000;
  -webkit-box-shadow: 0 5px 0 #000;
  box-shadow: 0 5px 0 #000;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 204px;
  -webkit-transform: rotate(-11deg) skew(-11deg);
  -moz-transform: rotate(-11deg) skew(-11deg);
  -o-transform: rotate(-11deg) skew(-11deg);
  -ms-transform: rotate(-11deg) skew(-11deg);
  transform: rotate(-11deg) skew(-11deg);
  position: absolute;
  top: 105px;
  z-index: 10;
}

.banner:after {
  background-color: #0550b4;
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  width: 204px;
  top:0px;
  z-index: -10;
}

.banner:before {
  background-color: red;
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: rotate(90deg) skew(29deg);
  -moz-transform: rotate(90deg) skew(29deg);
  -o-transform: rotate(90deg) skew(29deg);
  -ms-transform: rotate(90deg) skew(29deg);
  transform: rotate(90deg) skew(29deg);
  z-index: -5;
}

.decTile {
	background: #505050 !important;
}

.redTile {
	background: #bd5351 !important;
}

.yellowTile {
	background: #faa938 !important;
}

.greenTile {
	background: #57a858 !important;
}

/* Mobile */
@media (max-device-width: 568px) and (orientation: portrait) {
    .mobileHide {
        display: none;
    }
}